.SavingsFunc {
    min-width: 85vh;
    height: 260px;
    background-color: #e5ebec;
    border-radius: 7px;
    /* margin-right: 24vh; */
    box-shadow: rgba(0, 0, 0, 0.4) 6px 8px 4px;

}

.savings_func_row {
    display: flex;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s;

}

.savings_func_row:hover {
    background-color: #171C27;
    color:#e5ebec;
    transition: all 0.5s;

}

.savings_func_text {
    font-weight: 500;
    font-family: 'Merriweather';
    font-size: 22px;
    margin-left: 25px;

}