.InputField {
    --white: #FFFFFF;
    --black: #000000;
    --darkblue: #171c27;
    --blue: #52a2c4;
    --lightbeige: #E5EBEC;
    --grey: #758392;
    --green: #6B7B81;


   
    background: var(--white);
    border: 3px solid var(--darkblue);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 4px;

    cursor: pointer;
    transition: all 0.7s;

}


.input_label_text {
    font-family: 'Merriweather';
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-left: -10px;
    color: #FFFFFF;
    user-select: none;
}

.InputField:focus {
    transform: scale(1.04);
    transition: all 0.7s;
}

.input_label {
    transition: all 0.7s;
    cursor: pointer;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-self: center;


}