.Hexagon_box {
    margin-top: 5%;
    margin-right:7%;
   align-self: flex-end;
}

.hexagon_box_middle_row,
.hexagon_box_upper_row,
.hexagon_box_lower_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.hexagon_box_upper_row {
    align-items: flex-end;
    margin-right: 17vh;
    margin-bottom: -4.5vh;
}

.hexagon_box_lower_row {
    align-items: flex-start;
    margin-right: 17vh;
    margin-top: -4.5vh;


}