@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Merriweather&family=Quicksand:wght@500;600;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=KoHo:wght@500&family=Merriweather&family=Quicksand:wght@500;600;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@1&family=Karla:wght@400;500&family=KoHo:wght@500&family=Merriweather&family=Quicksand:wght@500;600;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap');


.App {
  --white: #FFFFFF;
  --black: #000000;
  --darkblue: #171c27;
  --blue: #52a2c4;
  --lightbeige: #E5EBEC;
  --grey: #758392;
  --green: #6B7B81;

  text-align: center;

}

:root {
  /* overflow: auto; */
  /* overflow-y: hidden; */
  margin: 0;
}

body {
  font-family: 'Merriweather';
}

*,
::after,
::before,
h4,
h1,
h2,
h3,
h5,
h6,
p,
div,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: content-box;

}



*:focus {
  outline: none;
}