.checkbox-wrapper-48 {
  width:fit-content;
  max-height:fit-content;
  max-width: fit-content;
}

.checkbox-wrapper-48 label {
    font-size: 1.1em;

}

/* CORE STYLES */
.checkbox-wrapper-48 input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    font: inherit;
    border: 0.15em solid black;
    margin-bottom: 0.15em;
    transition: all 0.7s;
    box-shadow: 0 0 0 1em inset #e5ebec;
    align-self: center;

    cursor:pointer;

}


.checkbox-wrapper-48 input[type=checkbox] {
    border-radius: 0.25em;

}

.checkbox-wrapper-48 input:checked {
    border-color: transparent;
    background: #6B7B81 border-box;
    box-shadow: 0 0 0 0.1em inset #e5ebec;
    transition: 0.7s ease-out;
}

.checkbox-wrapper-48 input:not(:checked):hover {
    border-color: transparent;
    background: #6B7B81 border-box;


}